<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&family=Poppins:ital,wght@0,300;1,300&display=swap');
/*mostly for home.html*/
	html {
		scroll-behavior: smooth;
	}

	body {
		/*border: 1px solid red;*/
		min-height: 100vh;
		background: #000;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		justify-content: center;
		/*text-align: center;*/
		overflow-x: hidden;
			font-family: 'Poppins', cursive;
		font-size: 24;

	}

	.mainview{
		min-height: 100vh;
		background: transparent;
		color: #fff;
		position: relative;
		padding: 20px;
		right: 0;
		text-align: center;
		box-sizing: border-box;
		transition: 0.5s;
		overflow: auto;
	}

	.mainview section .container img
	{
		float: right;
		/*right: 200px;*/
		height: 270px;
		width: 220px;
		border: 1px dashed yellow;
		border-radius: 50%;

	}
	section .container {
		margin-top: 2rem;
		margin-bottom: 2rem;
		width: 100%;
		min-height: 500px;
		overflow: auto;
	}
	h3 {
		font-family: 'Shadows Into Light', sans-serif;
		font-size: 35px;
		color: green
	}


	section .workSlides {
		padding: 10px;
		min-height: 600px;
		min-width: 700px;
		border: 1px solid white;
	}

</style>